<div class="container">
  <div class="row justify-content-center card-container">
     <div class="show-card">
       <div class="card-product-infos">
        <div class= "controls">
          <div class= "name">
             <h2>Name: <%= @pokemon.name.capitalize %></h2>
           </div>
           <%= link_to 'Edit', edit_pokemon_path(@pokemon), class: 'nav-link' %>
           <%= button_to 'Delete', pokemon_path(@pokemon), method: :delete, class: 'delete-button nav-link' %>
         </div>
         <%= image_tag "#{@pokemon.image_url}" %>
         <p>Type: <% @pokemon.types.each do |type|%>-<%= type.name  %>
         <% end %></p>

         <p>Weight: <%= @pokemon.weight %></p>
         <p>Abilities: <% @pokemon.abilities.each do |ability|%>-<%= ability.name %>
         <% end %></p>
         <p>Next evolution: >> <%= @pokemon.next_evolution %> </p>
         <p>Description: <%= @pokemon.description %> </p>
       </div>
     </div>
  </div>
</div>
