<div class="container">
  <div class="row justify-content-center card-container">
     <div class="show-card">
       <div class="card-product-infos">
         <h2>Name: <%= @pokemon[:name].capitalize %></h2>
         <%= image_tag "#{@pokemon[:sprites][:other][:home][:front_default]}" %>
         <p>Type: <% @pokemon[:types].each do |type|%>-<%= type[:type][:name]  %>
         <% end %></p>

         <p>Weight: <%= @pokemon[:weight] %></p>
         <p>Habilities: <% @pokemon[:abilities].each do |ability|%>-<%= ability[:ability][:name] %>
         <% end %></p>
         <p>Next evolution: >> <%= @pokemon_evolutions[:chain][:evolves_to][0][:species][:name] %> </p>
         <p>Description: <%= @pokemon_especies[:flavor_text_entries][0][:flavor_text] %> </p>
       </div>
     </div>
  </div>
</div>